.span10.offset1
  #loading
  #gallery
script(type='text/javascript').
  document.title = '#{galleryTitle}';
  document.getElementsByClassName('brand')[0].innerHTML = '&#8618; #{galleryTitle}';
  loadGallery(!{data});
